@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
  --primary: #ec5242;
  --dark: #272a31;
  --grey: #d3d3d3;
}

*,
*::before,
a::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f8f8f8;
  font-family: 'Lato', sans-serif;
}

header {
  width: 100%;
}

.navbar-mobile {
  background-color: #fff;
  height: 63px;
  width: 100%;
}

.menubar {
  height: 4vh;
  margin: 17px 0 18px 23px;
}

.theme-info {
  width: 100%;
}

.first-section {
  background-image: url(/Assets/pexels-karolina-grabowska-5399043.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 13px 200px 20px;
}

.second-section {
  width: 100%;
  background-color: #3b3e45;
  padding-bottom: 30px;
}

.third-section {
  padding: 20px 13px 13px 20px;
}

.intro-text {
  margin: 10px 0;
  border: 2px solid #fff;
  padding: 10px;
  text-align: justify;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.1px;
}

.venue {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.1px;
}

.one,
.two {
  background: #a04038;
  display: flex;
  justify-content: center;
  height: 3px;
  width: 10%;
  align-items: center;
  margin: auto;
  border: none;
  margin-top: 15px;
}

.main-program {
  width: 40%;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  line-height: 28px;
  letter-spacing: -0.8px;
  margin: auto;
}

.program-details {
  display: flex;
  justify-content: center;
  margin: 0 auto 5px;
  width: 90%;
  border: 1px solid #fff;
  transition: all 0.3s linear;
}

.program-details:hover {
  transition: all 0.3s linear;
  border: 1px solid #fff;
  transform: scale(1.2);
}

.feature {
  display: flex;
  margin: 10px 12px;
  gap: 12px;
}

.feature:hover {
  transition: all 0.3s linear;
  border: 1px solid #000;
  transform: scale(1.1);
}

.detail-name,
.profession {
  color: var(--primary);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff4f38;
  color: #fff;
  width: 70%;
  margin: 40px auto 30px;
  border: none;
  padding: 16px;
}

.button-a {
  text-decoration: none;
}

.program {
  width: 100%;
  padding: 20px 0;
}

.detail-title {
  width: 50%;
  display: flex;
  justify-content: center;
  color: #000;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  line-height: 28px;
  letter-spacing: -1px;
  margin: auto;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dcdcdc;
  color: #000;
  width: 95%;
  margin: 40px auto 30px;
  border: none;
  box-shadow: 0 1px 10px grey;
  padding: 16px;
}

.more-span {
  padding-right: 10px;
}

.theme-intro {
  color: var(--primary);
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.1px;
}

.theme {
  color: var(--primary);
  font-family: 'Lato', sans-serif;
  font-size: 60px;
  font-style: normal;
  line-height: 50px;
  letter-spacing: -0.1px;
  padding: 30px 0;
}

li {
  align-items: center;
  list-style-type: none;
}

.detail-name,
.detail-text,
.detail-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-img {
  width: 50px;
  height: 51.733px;
  margin: 12px 0;
}

.detail-name {
  color: #ff5438;
  font-size: 14.271px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  line-height: 24.975px;
  letter-spacing: -0.143px;
  width: 20%;
  padding-right: 8px;
}

.detail-text {
  color: #fff;
  font-size: 10.703px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  line-height: 22.299px;
  letter-spacing: 0.642px;
  width: 60%;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--dark);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  backdrop-filter: blur(5px);
  padding-left: 28px;
}

.closebtn {
  width: 24px;
  margin: 20px 15px 20px 280px;
}

.menu-link {
  text-decoration: none;
  color: #fff;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 40px;
}

.speaker-img {
  height: 106px;
  width: 107px;
}

.menu-link:active {
  color: #f07f7e;
}

.p-logo {
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.top-section,
.navbar-container,
.footer,
.mobile-menu,
.whole-program {
  display: none;
}

@media screen and (min-width: 768px) {
  .navbar-mobile,
  .button,
  .more {
    display: none;
  }

  .whole-program {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.1px;
    text-decoration-line: underline;
  }

  .logo {
    padding-left: 40px;
  }

  .menu-link-desktop {
    text-decoration: none;
    color: var(--primary);
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    line-height: normal;
  }

  .top-section {
    display: flex;
    background: #3e3e3e;
  }

  .first-section {
    padding: 70px 400px 200px 100px;
    background-image: url(/Assets/pexels-karolina-grabowska-7679649.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .feature-section {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin: 10px 160px;
    gap: 30px;
  }

  .program-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2px 5px;
    width: 70%;
    border: none;
    background-color: #414249;
  }

  .program-details:hover {
    border: 1px solid #fff;
    transform: scale(1.2);
  }

  .menu-link:active {
    color: #f07f7e;
  }

  .menu-link:hover,
  .list-items:hover {
    transform: scale(1.2);
  }

  .top-section-ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .top-section-list {
    color: white;
    font-size: 1.2rem;
    margin-right: 2em;
    list-style-type: none;
  }

  .program-container {
    display: flex;
    margin: 0 200px 30px;
  }

  .p-logo {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
  }

  .navbar-container {
    display: flex;
    flex-direction: row;
    background: #fff;
    padding: 1em 4em;
    align-items: center;
  }

  .navbar-items {
    display: flex;
    margin-left: auto;
    align-items: center;
  }

  .navbar-items li a {
    margin: 0 1rem;
    text-decoration: none;
    color: var(--dark);
  }

  .navbar-items li a:active {
    color: var(--primary);
  }

  .navbar-items li:last-child {
    border: 5px solid var(--primary);
    padding: 8px;
  }

  .detail-img {
    width: 50%;
    height: 51.733px;
    margin: auto;
  }

  .detail-name {
    color: #ff5438;
    font-size: 14.271px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    line-height: 24.975px;
    letter-spacing: -0.143px;
    width: 100%;
    padding-right: 8px;
  }

  .detail-text {
    color: #fff;
    font-size: 10.703px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    line-height: 22.299px;
    letter-spacing: 0.642px;
    width: 100%;
    text-align: center;
    padding: 0 5px;
  }

  .detail-name,
  .detail-text,
  .detail-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer {
    display: block;
    width: 100%;
    margin-top: 20px;
  }

  .partner {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    color: #8f8f91;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    line-height: 28px;
    letter-spacing: -0.3px;
    margin: auto;
    align-items: center;
    padding-top: 30px;
  }

  .footer-one {
    background-color: #414246;
  }

  .partner-icon {
    width: 22%;
  }

  .partner-img {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    padding-bottom: 50px;
    justify-content: center;
  }

  .footer-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #f2f2f2;
    padding: 70px 60px;
  }

  .wit {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-family: 'Lato', sans-serif;
    line-height: 28px;
    letter-spacing: -0.3px;
  }

  .wit1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    line-height: 28px;
    letter-spacing: -0.3px;
  }

  .rights {
    color: var(--primary);
  }
}
